/* Set the global focus color to light transparent green */
.root {
    -fx-focus-color: #32cd3266;
    -fx-accent: #32cd3246;
    -fx-selection-bar: #32cd3246;
    -fx-selection-bar-non-focused: #32cd3246;
}

.album-card:hover {
    -fx-background-color: #32cd3246;
}

.list-cell:hover {
    -fx-background-color: #32cd3246;
}

.sidebar-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #444444;
}

.table-row-cell {
    -fx-cell-size: 30px; /* increased row height */
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
}
